# ── Dados
data/
assets/
*.xlsx
*.csv
*.xls
*.json
*.db
*.sqlite

# ── uv
.venv/
.uv/
uv.lock

# ── Python
__pycache__/
*.py[cod]
*.pyo
.eggs/
*.egg-info/
dist/
build/

# ── Streamlit
.streamlit/secrets.toml

# ── Sistema
.DS_Store
Thumbs.db
.env
.env.*

# ── Sec
auth.yaml
